.slide-content-from-left {
  margin-left: 50% !important;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-animate 1.5s ease-out forwards;
}

@keyframes slide-in-animate {
  20% {
    opacity: 0;
  }

  60% {
    transform: translateX(-45%);
  }

  75% {
    transform: translateX(-52%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.delay-provider {
  animation: delay-elements 1.5s ease-out forwards;
}

.delay-provider-long {
  opacity: 0;
  animation: delay-elements 5.5s ease-out forwards;
}

.isVisited {
  opacity: 0;
  scale: 0;
}

@keyframes delay-elements {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.value {
  font-size: 20px;
}